<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="imgUpload" value="~/UploadFile/images/"/>
    <!--图片上传地址-->
  </appSettings>
    <system.web>
      <!--Form认证设置Start-->
      <authorization>
        <allow roles="ACCOUNT" />
        <deny users="*"/>
      </authorization>
      <!--Form认证设置End-->
      <customErrors mode="Off" defaultRedirect="../404.html" />
    </system.web>
    
    <!-- Begin 排除不需要验证的目录或文件-->
    <location path="JS">
      <system.web>
        <authorization>
          <allow users="*"/>
        </authorization>
      </system.web>
    </location>
    <location path="img">
      <system.web>
        <authorization>
          <allow users="*"/>
        </authorization>
      </system.web>
    </location>
    <location path="CSS">
      <system.web>
        <authorization>
          <allow users="*"/>
        </authorization>
      </system.web>
    </location>
    <location path="AJAX">
      <system.web>
        <authorization>
          <allow users="*"/>
        </authorization>
      </system.web>
    </location>
    <!-- END 排除不需要验证的目录或文件-->
</configuration>
